* {
    margin: 0px;
    padding: 0px;
}



#core {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

#left-side {
    background: linear-gradient(#0C7FDA, #2196F3) ;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

#right-side {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}


#left-side-item1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    color: #fff;
    font-weight: 500;
    font-size: 15.3px;
}

#left-side-item1-logo {
    margin-right: 7px;
}

#left-side-item1-name {
    margin-left: 7px;
}

#left-side-item2 img{
    width: 448.55px; /* 527.7 - 15% */
    height: 376.24px; /* 442.64 - 15% */
}

#left-side-item3 {
    color: #fff;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 22px;
    font-weight: 600;
}

#right-side-item1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 70px;
}

#container{
    height: 400px;
    width: 380px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 13px;
    font-weight: 400;
}

.form-group {
    display: flex;
    flex-direction: column;
    color: #757575;
}

.form-group input {
    text-decoration: none;
    border: none;
    border-bottom: 1px solid #918EF4;
    margin-top: 15px;
    margin-bottom: 20px;
    outline: none;
    padding: 5px 5px !important; /* Usando !important */
    font-size: 16px !important; /* Usando !important */
    height: 25px !important; /* Usando !important */
    border-radius: 5px; 
}


.form-group input::placeholder{
    font-size: 13px;
    font-weight: 100;
    color: #212121;
}

#button-div {
    height: 100%;
    width: 100%;
}

#right-side-item2 button {
    height: 56px;
    width: 155px;
    font-family: "Zen Kaku Gothic Antique", sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 56px;
    border: none;
    background: linear-gradient(#0C7FDA, #2196F3) ;
    color: #fff;
    position: relative;
    left: 60%;
    cursor: pointer;
}


.error {
    color: #fff; 
    font-weight: 500; 
    text-transform: none; 
    font-size: 14px; 
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: -20px;
}

.error div {
    background-color: rgba(211, 47, 47, 0.9); 
    padding: 5px 10px; 
    border-radius: 4px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); 
    display: inline-block;
    margin-top: 4px; 
    max-width: 300px; 
}

.error div::before {
    content: "⚠️ "; /* Ícone de alerta */
    font-size: 12px; 
}


/* img w 527.7 / h 442.64 */