.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
    height: 90%;
}

h3 {
    font-size: 22px;
    color: #5D7285;
    margin-bottom: 15px;
}

h5 {
    color: #5D7285;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 20px;
}


#core {
    width: calc(100% - 370px);
    height: calc(100% - 150px);
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#users-container {
    max-height: 80%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

#users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-titles {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr 1fr; /* Estrutura das colunas */
    gap: 5px;
    margin-bottom: 10px;
    text-align: center;
    position: -webkit-sticky; 
    position: sticky; 
    top: 0; 
    background-color: #fff;
    z-index: 10; 
    border-bottom: 2px solid #E2E8F0; 
    padding-bottom: 8px; 
}


.title {
    font-size: 12px;
    color: #A0AEC0;
    font-weight: bold;
    text-transform: uppercase;
    padding-bottom: 4px; 
    line-height: 1.4; 
}

.title.empty {
    visibility: hidden; 
}

.user-card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 8px 12px;
    background-color: #F9FAFB;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 60px;
}

.user-info {
    display: grid;
    grid-template-columns: 50px 2fr 1fr 1fr 1fr; /* Nome+Email, Cargo, Último Login, Ações */
    gap: 5px;
    align-items: center;
    width: 100%;
}

.user-photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.user-details {
    display: block;
    flex-direction: row;
    text-align: left; /* Nome e email alinhados à esquerda */
    width: 200px;
}

.user-name, .user-last-login {
    font-size: 14px;
    font-weight: 600;
    color: #2D3748;
}

.user-email {
    font-size: 12px;
    color: #4A5568;
    margin-left: 50px;
}

.user-group, .user-last-login {
    font-size: 12px;
    color: #2D3748;
    font-weight: 600;
    text-align: center;
}

.user-actions {
    display: flex;
    justify-content: center; 
    gap: 10px;
}

.user-actions a {
    text-decoration: none;
}

.btn-edit, .btn-delete {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E2E8F0;
}

.btn-edit {
    color: #2B6CB0;
}

.btn-delete {
    color: #E53E3E;
    background-color: #FED7D7;
}

.btn-edit img, .btn-delete img {
    width: 14px;
    height: 14px;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-form input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    width: 70%;
}

.search-form button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-new-user {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

form {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #5D7285;
    font-weight: bold;
    gap: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.input-item {
    display: flex;
    flex-direction: column;
}

.input-item input, .input-item select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-left, .form-right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
/* Modal */

#create-user-form {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

/* Estilo para mensagens de erro */
.error {
    color: #fff; /* Texto branco */
    font-weight: 500; 
    text-transform: none; 
    font-size: 12px; 
    display: flex;
    flex-direction: column;
}

.error div {
    background-color: rgba(211, 47, 47, 0.9); /* Fundo vermelho com transparência */
    padding: 6px 12px; /* Padding ajustado */
    border-radius: 4px; /* Bordas arredondadas */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); /* Sombra suave */
    display: inline-block;
    margin-top: 5px; /* Espaçamento acima da mensagem */
    max-width: 300px; /* Largura máxima */
}

.error div::before {
    content: "⚠️ "; /* Ícone de alerta */
    font-size: 14px; /* Tamanho do ícone */
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Exibe o modal quando a classe 'show' é adicionada */
.modal.show {
    display: flex;
    margin-top: -20px;
    padding-bottom: 20px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.close-modal {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.close-modal:hover {
    background: #c0392b;
}


#form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 40px;
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: auto;
}

.input-item {
    margin-top: 10px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 500;
}

input.form-control, 
select.form-control {
    width: 100%;
    max-width: 100%; /* Garante que não ultrapassem o form */
    padding: 10px 12px;
    font-size: 14px;
    border: 1.8px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Evita que padding aumente o tamanho */
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border-color: #0C7FDA;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(12, 127, 218, 0.5);
}

input[type="file"].form-control {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

input[type="file"].form-control::file-selector-button {
    padding: 8px 12px;
    background-color: #0C7FDA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"].form-control::file-selector-button:hover {
    background-color: #0A5C9B;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: 13px;
}

button.btn-new-user-2 {
    padding: 10px 20px;
    background-color: #0C7FDA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-bottom: 20px;
    margin-top: 20px;
}

button.btn-new-user-2:hover {
    background-color: #0A5C9B;
    transform: translateY(-2px);
}

button.btn-new-user-2:active {
    transform: translateY(0);
}

select.form-control {
    appearance: none;
    cursor: pointer;
}

/* Transições suave */
input, select, textarea {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


@media (min-width: 1750px) {
    .user-email {
        margin-right: -40px; /* Ajuste o valor conforme necessário */
    }


}


