.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
    height: 90%;
}

h3 {
    font-size: 22px;
    color: #5D7285;
    margin-bottom: 15px;
}

h5 {
    color: #5D7285;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 20px;
}

.produtos {
    margin-top: 35px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}


#core {
    width: calc(100% - 370px);
    height: calc(100% - 150px);
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#users-container {
    max-height: 80%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

#users {
    display: flex;
    flex-direction: column;
}

/* content */
/* 
.inline {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
} */

.box {
    width: calc(90% / 5.3);
    height: 260px;
    border: 2px solid #E2E8F0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
    text-align: left;
}


/* .box::before,
.box::after {
    content: '';
    position: absolute;
    background-color: #0C7FDA;
    width: 130px; 
    height: 30px; 
    border-radius: 5px;
}

.box::before {
    top: -25px; 
    left: -25px; 
    transform: rotate(-45deg);
}

.box::after {
    bottom: -25px;
    right: -25px; 
    transform: rotate(-45deg);
} */

.user-photo img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.product-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#product-name {
    max-width: 60%;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #232323;
    text-transform: uppercase;
}

#product-price {
    max-width: 30%;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #0C7FDA;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-form input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    width: 70%;
}

.search-form button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 3px solid #E2E8F0;

}

form {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #5D7285;
    font-weight: bold;
    gap: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.modal-sales {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-sales.show {
    display: flex;
    margin-top: -20px;
    padding-bottom: 20px;
    
}

.modal-sales form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.modal-header,
.modal-footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.modal-group-1,
.modal-group-2,
.modal-group-3,
.modal-group-4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 230px;
}

select,
input[type="email"],
input[type="number"],
input[type="date"] {
    width: 100%;
    padding: 10px 15px;
    font-size: 14px;
    border: 2px solid #ccc;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #5D7285;
    box-sizing: border-box;
}

select:focus,
input:focus {
    border-color: #5D7285;
    box-shadow: 0 0 5px rgba(93, 114, 133, 0.5);
}

.btn-register-sale {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
