* {
    font-family: "Epilogue", sans-serif;
}
body {
    margin: 0;
    font-family: "Epilogue", sans-serif;
    display: flex;
    background-color: #E2E8F0;
    height: 100vh;
    user-select: none;
}

#sidebar, #header {
    user-select: none;
}

#header {
    height: 140px;
    width: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center; 
    flex-direction: row; 
    z-index: auto;
    padding: 0 20px; 
    font-family: "Epilogue", sans-serif;
}

#header img {
    max-width: 70px;
    max-height: 70px;
    border-radius: 50%;
    margin-left: 10px; 
}

#pic-profile {
    padding-right: 30px;
}

#info {
    padding-right: 130px;
    color: #5D7285;
    font-size: 17px;
    font-weight: 600;

}

.dropdown-modal {
    display: none; 
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    border-radius: 5px;
    padding: 10px 0;
    margin-top: 10px; 
    transition: opacity 0.3s ease; 
}

.dropdown-modal.show {
    display: block;
    opacity: 1; /* Quando a classe show é adicionada, o modal aparece */
}

.dropdown-modal .modal-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown-modal .modal-content ul li {
    padding: 10px;
    text-align: left;
}

.dropdown-modal .modal-content ul li a {
    color: #5D7285;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.dropdown-modal .modal-content ul li a:hover {
    background-color: #CCE8FA;
    color: #0C7FDA;
}

.menu-icon {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

/* Cursor de interação */
#header img, #openModalBtn {
    cursor: pointer;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    color: #5D7285;
    height: 100vh;
    padding: 15px;
    position: fixed;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", sans-serif;
}

.sidebar #logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: "Epilogue", sans-serif;
    color: #5D7285;
    font-weight: 600;
    font-size: 24px;
    padding-bottom: 100px;
}

#logo #logo-child {
    margin-right: 7px;
}

#logo #logo-name {
    margin-left: 7px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: #5D7285;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-size: 16px;
    font-weight: 400;
}

.sidebar ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.sidebar ul li a:hover {
    background-color: #CCE8FA;
    color: #0C7FDA;
    font-weight: bold;
}

.dropdown-menu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.dropdown-menu li {
    margin: 5px 0;
    padding-left: 50px;
}


.logout-btn {
    display: flex;
    align-items: center;
    background-color: #667A8A;
    color: white;
    height: 50px;
    width: 230px;
    border: none;
    padding: 0 10px;
    margin-bottom: 50px;
    font-family: 'Epilogue', sans-serif;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    margin-top: auto; 
    border-radius: 8px;
    text-decoration: none;
  }
  
  .logout-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
  }

.content {
    margin-left: 285px; 
    margin-top: 135px; 
    padding: 20px;
    width: 100%; 
    height: 100%; 
    position: fixed;
}

section {
    margin-top: 20px; 
}

.dropdown.active .dropdown-menu {
    display: block;
}

.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
    height: 90%;
}



/* FORMULARIO

/* Estilos gerais */

.container {
    width: 80%;
    max-width: 1115px;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 24px;
    color: #333;
}

.btn-cadastrar-cliente {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn-cadastrar-cliente:hover {
    background-color: #0056b3;
}

/* Dados da venda */
.dados-venda {
    margin-top: 20px;
}

.dados-venda h2 {
    font-size: 20px;
    color: #555;
    margin-bottom: 15px;
}

/* Formulário */
.form-venda {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    flex-direction: column;
}

.input-group label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.input-group input:disabled {
    background-color: #f1f1f1;
}

/* Formas de pagamento */
.forma-pagamento {
    display: flex;
    gap: 10px;
}


.btn-registrar-venda {
    width: 40%;
    padding: 12px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family:  "Epilogue", sans-serif;
}

.btn-registrar-venda:hover {
    background-color: #0056b3;
}
