{% extends 'users/vendedor/base.html' %}
{% load static %}
{% block title %}Registrar Vendas{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/vendedor/registrar_vendas.css' %}">
{% endblock %}
{% block content %}
<section id="core">
    <div class="top">
        <div class="h5">
            <h5>Registrar Vendas</h5>
        </div>
        <div class="form">
            <div>
                <form method="get" action="" class="search-form">
                    <span>Cliente ainda não tem cadastro? Clique em</span>
                    <button type="submit">Novo Cliente</button>
                </form>
            </div>
        </div>
    </div>
    <div id="users-container">
        <div class="container">
            <section class="fields">
                <div class="top">
                    <div class="area-1">
                        <select name="Clientes" id="clientes">
                            <option value="" selected>Clientes</option>
                            <option value="">Irlan Arley</option>
                            <option value="">Thiago Moura</option>
                            <option value="">Raphael Muniz</option>
                        </select>
                        <input type="email" placeholder="Email">
                        <select name="Produtos" id="produtos">
                            <option value="" selected>Produtos</option>
                            <option value="">Carro de controle remoto</option>
                            <option value="">Maquiagem</option>
                            <option value="">Esmalte de unha</option>
                        </select>
                    </div>
    
                    <div class="area-2">
                        <input type="number" placeholder="Telefone">
                        <input type="number" name="" id="" placeholder="CPF">
                        <input type="number" placeholder="Quantidade">
                    </div>
                </div>

                <div class="down">
                    <div class="area-3">
                        <select name="Vendedor" id="vendedor">
                            <option value="" selected>Vendedor</option>
                            <option value="">Weslley Fernandes</option>
                            <option value="">Antonio Fernandes</option>
                            <option value="">Douglas Fernandes</option>
                        </select>
                        <select name="forma_pagamento" id="forma_pagamento">
                            <option value="" selected>Forma de Pagamento</option>
                            <option value="pix">Pix</option>
                            <option value="cartao">Cartão</option>
                            <option value="dinheiro">Dinheiro</option>
                        </select>
                    </div>
                    <div class="area-4">
                        <input type="date" placeholder="Data de Compra">
                        <input type="number" placeholder="Total">
                    </div>
                </div>

                <div class="btn">
                    <a href="">
                        <button class="btn-new-user">Registrar Venda</button>
                    </a>
                </div>

            </section>  
            <section>
                <h5>Últimas vendas</h5>
                <div id="sales-container">
                    <ul id="sales">
                        <div class="sales-titles">
                            <span class="title">PRODUTO</span>
                            <span class="title">MÉTODO DE PAGAMENTO</span>
                            <span class="title">QUANTIDADE</span>
                            <span class="title">DATA</span>
                            <!-- <div class="title">Options</div>  -->
                        </div>
        
                        {% for venda in object_list %}
                            <div class="sales-card">
                                <div class="sales-info">
                                    <div class="sales-product-image">

                                        <div>
                                            <span class="sales-product">{{ venda.produto }}</span>
                                        </div>
                                    </div>
                                    <span class="sales-payment">{{ venda.get_payment_method_display }}</span>
                                    <span class="sales-id">{{ venda.quantity }}</span>
                                    <span class="sales-date">{{ venda.created_at|date:"d/m/Y" }}</span>
                                    <!-- <div class="sales-options">...</div> -->
                                </div>
                            </div>
                        {% empty %}
                            <h4 id="h5-unico">Sem vendas registradas ainda</h4>
                        {% endfor %}
                    </ul>
                </div>
            </section>  

        </div>
    </div>
</section>
{% endblock %}
