{% extends 'users/ceo/base.html' %}
{% load static %}
{% block title %}Gerenciar Categorias{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/ceo/gerenciar_categorias.css' %}">
<script src="{% static 'js/ceo/create_user.js' %}"></script>
{% endblock %}
{% block content %}
<section id="core">
    <div class="top">
        <div class="h5">
            <h5>Gerenciar Categorias</h5>
        </div>
        <div class="form">
            <div>
                <form id="form-1" method="get" action="" class="search-form">
                    <input type="text" name="search" placeholder="Busca" value="{{ request.GET.search }}">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <div>
                <a href="">
                    <button id="open-modal" class="btn-new-user">Nova Categoria</button>
                </a>
            </div>
        </div>
    </div>
    <div id="users-container">
        <div class="categorias">
            {% for category in object_list %}
                <div class="box" 
                     data-category-id="{{ category.id }}"
                     data-category-name="{{ category.name }}"
                     data-category-desc="{{ category.description }}">
                    <div id="edit-div">
                        <button class="btn-edit">
                            <img src="{% static 'images/ceo/edit.png' %}" alt="Edit"> Editar
                        </button>                                                       
                    </div>
                    <div id="categoria-info">
                        <div id="category_name">{{ category.name }}</div>
                        <div id="category_desc">{{ category.description }}</div>
                    </div>
                </div>
            {% empty %}
                <h5>No data yet</h5>
            {% endfor %}
        </div>
    </div>
</section>

<!-- Modal para edição de categorias -->
<section class="modal {% if modal_open %}show{% endif %}">
    <div >
        <form method="post" action="{% url 'gerenciar_categorias' %}" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="create-user-form">

                <div class="input-item">
                    <label for="{{ form.name.id_for_label }}">Nome</label>
                    <input placeholder="Nome" type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:'' }}" class="form-control">
                    <div class="error">
                        {% for error in form.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.description.id_for_label }}">Descrição</label>
                    <input placeholder="Descrição" type="text" id="{{ form.description.id_for_label }}" name="{{ form.description.html_name }}" value="{{ form.description.value|default:'' }}" class="form-control">
                    <div class="error">
                        {% for error in form.description.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

            </div>
            <button class="btn-new-user-3" type="submit">Criar Categoria</button>
        </form>
    </div>
</section>
{% endblock %}
