{% extends 'users/gerente/base.html' %}
{% load static %}
{% block title %}Gerenciar Usuários{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/gerente/customuser_list.css' %}">
<script src="{% static 'js/gerente/manter_vendedores.js' %}"></script>
{% endblock %}
{% block content %}
<section id="core">
    <div class="top">
        <div class="h5">
            <h5>Gerenciar Vendedores</h5>
        </div>
        <div class="form">
            <div>
                <form method="get" action="{% url 'gerente_gerenciar_usuarios' %}" class="search-form">
                    <input type="text" name="search" placeholder="Busca" value="{{ request.GET.search }}">
                    <button type="submit">Buscar</button>
                </form>
            </div>
            <div>
            <a href="">
                <button class="btn-new-user" id="open-modal">Novo Vendedor</button>
            </a>
            </div>
        </div>
    </div>
    <div id="users-container">
        <ul id="users">
            <div class="user-titles">
                <span class="title">USUÁRIO</span>
                <span class="title empty"></span>
                <span class="title">CARGO</span>
                <span class="title">ÚLTIMO LOGIN</span>
                <span class="title">AÇÕES</span>
            </div>

            {% for user in object_list %}
                <div class="user-card">
                    <div class="user-info">
                        <div class="user-photo">
                            <img src="{{ user.profile_picture.url }}" alt="Foto de {{ user.name }}" />
                        </div>
                        <div class="user-details">
                            <span class="user-name">{{ user.name }}</span>
                            <span class="user-email">{{ user.email }}</span>
                        </div>
                        <span class="user-group">{{ user.groups.first }}</span>
                        <span class="user-last-login">
                            {% if user.last_login %}
                                {{ user.last_login|date:"d/m/Y" }}
                            {% else %}
                                Sem dados
                            {% endif %}
                        </span>                        
                        <div class="user-actions">
                            <a href="">
                                <button class="btn-edit">
                                    <img src="{% static 'images/ceo/edit.png' %}" alt="Edit"> Editar
                                </button>
                            </a>
                            <a href=""> 
                                <button class="btn-delete" data-user-id="{{ user.id }}">
                                    <img src="{% static 'images/ceo/trub.png' %}" alt="Delete"> Deletar
                                </button>                           
                            </a>                            
                        </div>
                    </div>    
                </div>
            {% endfor %}
        </ul>
    </div>
</section>

<section class="modal {% if modal_open %}show{% endif %}">
    <div >
        <form method="post" action="{% url 'gerente_gerenciar_usuarios' %}" id="form" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="create-user-form">
                <div class="input-item">
                    <label for="{{ form.email.id_for_label }}">E-mail</label>
                    <input placeholder="Email" type="email" id="{{ form.email.id_for_label }}" name="{{ form.email.html_name }}" value="{{ form.email.value|default:'' }}" class="form-control">
                    <div class="error">
                        {% for error in form.email.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.name.id_for_label }}">Nome</label>
                    <input placeholder="Nome" type="text" id="{{ form.name.id_for_label }}" name="{{ form.name.html_name }}" value="{{ form.name.value|default:'' }}" class="form-control">
                    <div class="error">
                        {% for error in form.name.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.cpf.id_for_label }}">CPF</label>
                    <input placeholder="CPF" type="text" id="{{ form.cpf.id_for_label }}" name="{{ form.cpf.html_name }}" value="{{ form.cpf.value|default:'' }}" class="form-control">
                    <div class="error">
                        {% for error in form.cpf.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.profile_picture.id_for_label }}">Foto de Perfil</label>
                    <input type="file" id="{{ form.profile_picture.id_for_label }}" name="{{ form.profile_picture.html_name }}" class="form-control">
                    <div class="error">
                        {% for error in form.profile_picture.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.password1.id_for_label }}">Senha</label>
                    <input placeholder="Digite sua senha" type="password" id="{{ form.password1.id_for_label }}" name="{{ form.password1.html_name }}" class="form-control">
                    <div class="error">
                        {% for error in form.password1.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-item">
                    <label for="{{ form.password2.id_for_label }}">Confirmar Senha</label>
                    <input placeholder="Confirme sua senha" type="password" id="{{ form.password2.id_for_label }}" name="{{ form.password2.html_name }}" class="form-control">
                    <div class="error">
                        {% for error in form.password2.errors %}
                            <div>{{ error }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <button class="btn-new-user-2" type="submit">Criar Usuário</button>
        </form>
    </div>
</section>

{% endblock %}

