.content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    font-family: 'Epilogue', sans-serif;
    height: 90%;
}

h3 {
    font-size: 22px;
    color: #5D7285;
    margin-bottom: 15px;
}

h5 {
    color: #5D7285;
    margin-left: 35px;
    margin-bottom: 10px;
    font-size: 20px;
}

.produtos {
    margin-top: 35px;
    margin-left: 35px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
}

#core {
    width: calc(100% - 370px);
    height: calc(100% - 150px);
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#users-container {
    max-height: 80%;
    overflow-y: auto;
    margin: 0;
    padding: 0;
}

#users {
    display: flex;
    flex-direction: column;
}
.box {
    width: calc(90% / 5.3);
    height: 260px;
    border: 2px solid #E2E8F0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 20px;
    font-family: 'Epilogue', sans-serif;
    cursor: pointer;
    text-align: left;
}
.user-photo img {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    object-fit: cover;
}

.product-desc {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
}

#product-name {
    max-width: 60%;
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #232323;
    text-transform: uppercase;
}

#product-price {
    max-width: 30%;
    font-size: 11px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #0C7FDA;
}

.search-form {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.search-form input {
    padding: 8px;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #E2E8F0;
    width: 70%;
}

.search-form button {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.btn-new-user {
    padding: 8px 12px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    border-bottom: 3px solid #E2E8F0;

}

form {
    margin-top: 34px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #5D7285;
    font-weight: bold;
    gap: 10px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-right: 30px;
}

.btn-edit {
    color: #2B6CB0;
}

.btn-delete {
    color: #E53E3E;
    background-color: #FED7D7;
}

.btn-edit img, .btn-delete img {
    width: 14px;
    height: 14px;
}

.btn-edit, .btn-delete {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #E2E8F0;
}

.box div a {

    text-decoration: none;
}

#edit-div {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 10px;
}
textarea {
    resize: vertical;
}

/* Foco nos inputs e selects */
input:focus, select:focus, textarea:focus {
    border-color: #5D7285;
    outline: none;
    box-shadow: 0 0 5px rgba(93, 114, 133, 0.5);
}

/* Estilo do botão */
.btn-new-user-2 {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    background-color: #0C7FDA;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 20px;
}

/* Estilo dos selects */
select {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding: 10px 15px;
    font-size: 14px;
    border-radius: 8px;
    background-color: #f7f7f7;
    color: #5D7285;
    height: 44px;
    box-sizing: border-box;
}

/* Estilo do input de file */
input[type="file"] {
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    background-color: #f7f7f7;
    color: #5D7285;
    height: auto;
    font-size: 14px;
    box-sizing: border-box;
}

/* Estilo do título dentro do modal */
#h5-unico {
    color: #5D7285;
    margin-bottom: 0px;
    font-size: 20px;
}

/* Modal */

#create-user-form {
    display: flex;
    flex-direction: column;
}

.error {
    color: #fff; 
    font-weight: 500; 
    text-transform: none; 
    font-size: 12px; 
    display: flex;
    flex-direction: column;
}

.error div {
    background-color: rgba(211, 47, 47, 0.9); 
    padding: 6px 12px; 
    border-radius: 4px; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15); 
    display: inline-block;
    margin-top: 5px; 
    max-width: 300px; 
}

.error div::before {
    content: "⚠️ "; /* Ícone de alerta */
    font-size: 14px; 
}



.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Exibe o modal quando a classe 'show' é adicionada */
.modal.show {
    display: flex;
    margin-top: -20px;
    padding-bottom: 20px;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 500px;
}

.close-modal {
    background: #e74c3c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}
.close-modal:hover {
    background: #c0392b;
}


#form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: auto;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    max-width: 1000px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.input-item {
    margin-top: 10px;
}

label {
    font-size: 14px;
    color: #555;
    margin-bottom: 5px;
    font-weight: 500;
}

input.form-control, 
select.form-control {
    width: 100%;
    max-width: 100%; /* Garante que não ultrapassem o form */
    padding: 10px 12px;
    font-size: 14px;
    border: 1.8px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    box-sizing: border-box; /* Evita que padding aumente o tamanho */
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
    border-color: #0C7FDA;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(12, 127, 218, 0.5);
}

input[type="file"].form-control {
    width: 100%;
    max-width: 100%;
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
}

input[type="file"].form-control::file-selector-button {
    padding: 8px 12px;
    background-color: #0C7FDA;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="file"].form-control::file-selector-button:hover {
    background-color: #0A5C9B;
}

input::placeholder, textarea::placeholder {
    color: #aaa;
    font-style: italic;
    font-size: 13px;
}

button.btn-new-user-3 {
    padding: 10px 20px;
    background-color: #0C7FDA;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 10px;
    margin-bottom: 20px;
}

button.btn-new-user-3:hover {
    background-color: #0A5C9B;
    transform: translateY(-2px);
}

button.btn-new-user-3:active {
    transform: translateY(0);
}

select.form-control {
    appearance: none;
    cursor: pointer;
}

/* Transições suave */
input, select, textarea {
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}


@media (min-height: 725px) {
    
    /* #id_email {
        margin-top: 0px;
    } */

h3 {
    font-size: 16px;
}

    #form {
        margin-top: 0px;
        padding-left: 0px;
        padding-right: 0px;
        gap: 0px;
    }

    button.btn-new-user-2 {
        padding: 8px 16px;
        font-size: 14px;
    }

    input.form-control, 
    select.form-control {
    padding: 8px 10px;
    font-size: 14px;
    }


    label {
        font-size: 14px;
        margin-bottom: 5px;
    }

    .error {
        font-size: 10px; 
    }
    
    .error div {
        padding: 3px 8px; 
        margin-top: 5px; 
    }
    
    .error div::before {
        content: "⚠️ "; 
        font-size: 13px; 
    }

    .container {
        width: 100%;
        padding: 17px; 
    }

    #create-user-form {
        width: 60%;
        margin: auto;
        gap: 2px;
    }

    #users-container {
        margin-top: 0px;
    }

    .form-left, .form-right {
        width: 48%; 
    }

    .input-item {
        margin-bottom: 0px;
    }

    label {
        font-size: 14px;
        color: #555;
        margin-bottom: 0px;
        font-weight: 500;
    }

    input.form-control, 
    select.form-control {
        width: 100%;
        padding: 10px 13px; 
        font-size: 14px; 
        border-radius: 6px;
        height: 40px; 
    }

    button.btn-new-user-2 {
        padding: 10px 18px; 
        border-radius: 6px;
        font-size: 14px;
        width: 48%;
    }
    .btn-cancel{
        padding: 10px 18px; 
        border-radius: 6px;
        font-size: 14px;
        width: 48%;
    }

    button.btn-new-user-3 {
        font-size: 14px;
    }

    button.btn-new-user-2:hover {
        background-color: #0A5C9B;
        transform: translateY(-1px);
    }

    button.btn-cancel:hover {
        background-color: #a32d38;
        transform: translateY(-1px);
    }


  }

  

